@font-face {
    font-family: 'Gotham-Book';
    src: 
    url("../fonts/Gotham-Book.otf") format("opentype"),
    url("../fonts/Gotham-Book.woff") format("woff"),
    url("Gotham-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; 
}
body {
    margin: 0;
    font-family: 'Gotham-Book';
    font-size: 16px;     
}
.header {    
    background-image: url(../img/bg-banner.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #050401;
}
.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 5px;    
}
.container:nth-child(1) {
    padding: 0;    
}
.double_background {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, #e94e38));
    background: -webkit-linear-gradient(left, #ffffff 50%, #e94e38 50%);
    background: -o-linear-gradient(left, #ffffff 50%, #e94e38 50%);
    background: linear-gradient(to right, #ffffff 50%, #e94e38 50%)
}

.navigation__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -webkit-box-pack: end;    
        -ms-flex-pack: end;    
            justify-content: flex-end;    
    background-color: #ffffff;
}
.logo {
    margin: 14px 0;
}
.navigation__list {    
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.navigation__item {
    list-style: none;    
}
.navigation__link {
    display: block;
    padding: 15px 13px;
    text-decoration: none;
    line-height: 45px;
    text-transform: uppercase;
    color: #96a6a7;
    font-size: 14px;
    font-weight: 500;    
}
.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;    
    background-color: #e94e38;
}
.search {
    position: relative;
}
.search__button {
    width: 75px;
    height: 75px;
    display: block;
    background-color: #e2dee0;
    color: #ffffff;
    font-size: 23px;
    text-decoration: none;
    text-align: center;
    line-height: 75px;    
}
.search__form {
    display: none;
    position: absolute;    
    top: 0;
    right: 72px;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #e2dee0;
}
.search__wrapper:hover ~ .search__form,
.search__form:hover {
    display: block;
}
.search__form input  {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;    
    margin-right: 0;
    padding: 10px 14px;
    overflow: hidden;
    font-size: 16px;
    line-height: 23px;
    color: #000;
    white-space: nowrap;
    border: 1px solid rgba(178,178,178,.52);
    border-radius: 5px;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 500px;
}
.login-button {
    display: inline-block;
    text-decoration: none;
    background-color: #e94e38;
    vertical-align: top;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    padding: 25px 62px;
    border: none;
}
.login-button:hover {
    color: rgb(221, 195, 195);
}
.login-button .fas {
    display: inline;
    padding-right: 20px;
}
.login-form {
    display: none;
}
.banner {
    background-image: url(../img/tracery.png);
    background-position: center top;
    background-color: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -webkit-box-orient: vertical;    
    -webkit-box-direction: normal;    
        -ms-flex-direction: column;    
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 0 40px;
}
.banner__title {
    margin: 0;    
    text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
    color: #ffffff;    
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 35px;
    text-align: center;
}
.banner__form {
    max-width: 480px;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.banner .select2-container {
    width: 48% !important;
    line-height: 50px;    
}
.banner .select2-container--default .select2-selection--single {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    height: 50px;    
}
.banner .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    line-height: 50px;
}
.banner .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 11px;   
}
.banner .select2-container {
     margin-bottom: 25px;
}
.banner .select2-container:nth-of-type(1) {
    margin-right: 19px;    
}
.keyword {
    width: 100%;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    height: 50px;
    color: #fff;
    margin-bottom: 35px;
    font-size: 18px;
}
input::-webkit-input-placeholder {
    color:#ffffff;
    font-family: 'Gotham-Book';
    font-size: 18px;
}
input:-ms-input-placeholder {
    color:#ffffff;
    font-family: 'Gotham-Book';
    font-size: 18px;
}
input::-ms-input-placeholder {
    color:#ffffff;
    font-family: 'Gotham-Book';
    font-size: 18px;
}
input::placeholder {
    color:#ffffff;
    font-family: 'Gotham-Book';
    font-size: 18px;
}
.banner__button {
    width: 140px;
    height: 60px;
    -webkit-box-shadow: 0 2px 0 #c1412e;
            box-shadow: 0 2px 0 #c1412e;
    background-color: #e94e38;
    border-radius: 35px;
    border: 1px solid #c1412e;
    color: #fff;
    text-transform: uppercase;
}
.banner__button:hover {
    background-color: #e66959;
}
.filter__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.filter__item {
    background-color: #ffffff;
    border: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;  
    color: #96a6a7;      
}
.filter__item:disabled {
    color: #e94e38;
}
.filter .select2-container--default .select2-selection--single {
    border-radius: 30px;
    padding: 0 10px;
}
.filter .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #e94e38;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;  
    line-height: 35px;  
}
.filter .select2-container .select2-selection--single {
    height: 35px;
}
.filter .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}
.show-map__btn {
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 30px;
    padding: 5px 10px;
    color: #96a6a7;
    background-color: #ffffff;
    height: 35px;
    border: 1px solid #96a6a7;
}
.category__list {
    color: #96a6a7;
    font-size: 12px;
    font-weight: 500;    
    text-transform: uppercase;
    vertical-align: middle;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.category__item {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    background-color: #b6c0c1;
    border-radius: 50%;
    margin-left: 10px;
    font-size: 24px;
    color: #fff;
}
.category__list .fa-home:disabled {
    background-color: #1baf5d;
}
.category__list .fa-user:disabled {
    background-color: #e42ebd;
}
.category__list .fa-graduation-cap:disabled {
    background-color: #312ee4;
}
.category__list .fa-music:disabled {
    background-color: #f19e1f;
}
.category__list .fa-bus:disabled {
    background-color: #88499c;
}
.cards {
    background-color: #f3f1f2;
}
.cards__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;    
    padding: 46px 15px 0;    
}
.cards__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
}
.card {
    width: 210px;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.card__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 140px;
    vertical-align: bottom;
}
.price {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    font-size: 12px;
    font-weight: 500;    
    text-transform: uppercase;
    border-radius: 15px;
    background-color: #1baf5d;
    padding: 7px 11px;
    color: #ffffff;
}
.icon__wrap{
    position: relative;
}
.pattern {        
    height: 0px;
    position: absolute;    
    top: 140px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
}
.show-more {
    display: none;
    padding: 9px 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 9px 14px;    
}
.pattern .rating {
    margin-right: 30px;
    display: none;
}
.pattern .fa-comments {
    color: #ffffff;
}
.icon {
    display: inline-block;
    width: 55px;
    height: 55px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 27px;
    text-align: center;
    line-height: 55px;
    position: absolute;
    bottom: -27px;
    left: calc(50% - 27.5px);
    background-color: #1baf5d;
    color: #ffffff;
}
.card__line {
    width: 100%;
    height: 2px;
    background-color: #1baf5d;
}
.icon__wrap:hover .pattern {
    top: 0;
    height: 140px;
    background-color: hsla(147, 73%, 40%, 0.6);    
}
.icon__wrap:hover .card__img {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
}
.icon__wrap:hover ~ .price {
    display: none;
}
.icon__wrap:hover .show-more {
    display: inline-block;
}
.icon__wrap:hover .pattern .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.card__descriptio {
    color: #566375;    
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    margin-top: 27px;
    min-height: 31px
}
.card__title {
    color: #1baf5d;
    font-size: 12px;
    font-weight: 500;    
    text-transform: uppercase;
    text-align: center;
}
.rating{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
}
.cards .fal {
    color: #f19e1f; 
    border: none;
    background-color: transparent;
    padding: 0;
}
.little__star .fal {
    font-size: 11px;
}
.pattern .fal{
    color: #ffffff;    
}
.cards .fal:disabled,
.cards .fal:hover {
    font-weight: 600;
    color: #f19e1f;
}
.cards .fal:disabled ~ .fal,
.cards .fal:hover ~ .fal {
    color: #f19e1f;
    font-weight: 600;
}
.card__votes {
    color: #96a6a7;    
    font-size: 12px;
    font-weight: 500;    
    text-transform: uppercase;
}
.card-rest .card__line {
    background-color: #f19e1f;
}
.card-rest .icon {
    background-color: #f19e1f;
}
.card-rest .icon__wrap:hover .pattern {
    background-color: rgba(241, 158, 31, 0.6);    
}
.card-rest .card__title {
    color: #f19e1f;
}
.card-trans .card__line {
    background-color: #88499c;
}
.card-trans .icon {
    background-color: #88499c;
}
.card-trans .icon__wrap:hover .pattern {
    background-color: rgba(136, 73, 156, 0.6);    
}
.card-trans .card__title {
    color: #88499c;
}
.card-review {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
}
.card-review .card{
    width: 460px;    
}
.card-review .card__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 120px;
}
.card-review .card .icon__wrap .pattern {        
    height: 50px;
    background-color: rgba(0, 0, 0, 0.69);
    top: 70px;
}
.card-review .icon__wrap .card__img {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.card-review .icon__wrap .pattern .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
}
.card__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3px;
}
.comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.comment__img {
    width: 12%;  
    padding: 0 21px;  
}
.comment__photo {
    border-radius: 50%;
    width: 100%;
    border: 3px solid rgb(231, 224, 224);
}
.comment__text {
    width: 85%;    
}
.comment__text .rating {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 17px;
}
.comment__name {
    color: #566375;    
    font-size: 16px;
    font-weight: 700;    
    text-transform: uppercase;    
}
.comment__review{
    color: #566375;    
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.comment__review--link {
    text-decoration: none;
    color: #566375;
    font-weight: 600;
}
.pattern__line {
    height: 3px;
    background-color: #1baf5d;
    width: 100%;
}
.card-review .icon {
    left: 4%;
}
.cards__list_reference{
    width: 100%;
    text-align: center;
    margin: 0;
    padding-bottom: 35px;
    border-bottom: 2px solid #e2dee0;
}
.cards__list_link {
    color: #566375;    
    font-size: 18px;
    font-weight: 500;    
    text-decoration: underline;  
    text-decoration: none;  
}
.advantages {
    padding-top: 88px;
    background-color: #f3f1f2;
}
.advantages__title {
    color: #566375;    
    font-size: 22px;
    font-weight: 500;    
    text-align: center;
    margin: 11px 0;
}
.advantages__descriptio {
    color: #96a6a7;    
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 125px;
}
.slider {
    position: relative;
}
.slide__button {
    margin-left: 15%;
    margin-bottom: 65px;
    position: relative;
}
.slide__button::before {
    content: "\f015";
    display: block;    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #96a6a7;
    text-align: center;
    font-family: "Font Awesome 5 Pro";
    font-size: 50px;
    line-height: 100px;
    color: #96a6a7;
    position: absolute;
    bottom: -45px;
    background-color: #f3f1f2;
    left: -45px;
}
.slide__button:nth-child(2)::before {
    content: "\f007";
}
.slide__button:nth-child(3)::before {
    content: "\f19d";
}
.slide__button:nth-child(4)::before {
    content: "\f001";
}
.slide__button:nth-child(5)::before {
    content: "\f207";
}
.advantages__slide {
    position: absolute;    
    max-width: 770px;
    opacity: 0;      
    -ms-flex-wrap: wrap;      
        flex-wrap: wrap; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    margin: 0 auto;
    padding-bottom: 165px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 410px;
    top: 0;
    display: none;
}
.slide2 .slide__title {
    color: #e42ebd;
}
.slide3 .slide__title {
    color: #312ee4;
}
.slide4 .slide__title {
    color: #f19e1f;
}
.slide5 .slide__title {
    color: #88499c;
}
.slide__title {
    color: #1baf5d;    
    font-size: 24px;
    font-weight: 500;
    line-height: 70px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.slide__descriptio {
    position: relative;
    width: 50%;
    color: #566375;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 129px;
}
.slide__descriptio::before {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    text-align: center;
    font-family: "Font Awesome 5 Pro";
    font-size: 26px;
    font-weight: 600;
    line-height: 62px;
    color: #ffffff;
    position: absolute;
    background-color: #1baf5d;
    left: 40px;
    top: 0;
}
.slide__descriptio:nth-child(2)::before {
    content: "\f0e7";    
}
.slide__descriptio:nth-child(3)::before {
    content: "\f06c";    
}
#slide1:checked ~ .slide1,
#slide2:checked ~ .slide2,
#slide3:checked ~ .slide3,
#slide4:checked ~ .slide4,
#slide5:checked ~ .slide5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    opacity: 1;
    -ms-flex-line-pack: start;
        align-content: flex-start;
}
#slide1:checked::before {
    border: 3px solid #1baf5d;    
    color: #1baf5d;
}
#slide2:checked::before {
    border: 3px solid #e42ebd;    
    color: #e42ebd;
}
#slide3:checked::before {
    border: 3px solid #312ee4;    
    color: #312ee4;
}
#slide4:checked::before {
    border: 3px solid #f19e1f;    
    color: #f19e1f;
}
#slide5:checked::before {
    border: 3px solid #88499c;    
    color: #88499c;
}
#slide1:checked ~ .slide1 .slide__descriptio::before {
    background-color: #1baf5d;
}
#slide2:checked ~ .slide2 .slide__descriptio::before {
    background-color: #e42ebd; 
}
#slide3:checked ~ .slide3 .slide__descriptio::before {
    background-color: #312ee4;
}
#slide4:checked ~ .slide4 .slide__descriptio::before {
    background-color: #f19e1f; 
}
#slide5:checked ~ .slide5 .slide__descriptio::before {
    background-color: #88499c;       
}
.card-review .card__title {
    text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
    color: #ffffff;    
    font-size: 18px;
    font-weight: 500;    
    text-transform: uppercase;
    margin: 0;
    margin-left: 97px;
}
.main_footer {
    background-image: url(../img/bg-banner.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #050401;
}
.footer__wrap {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
}
.footer__title {
    text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
    color: #ffffff;    
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}
.form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 492px;
    margin: 0 auto;
    margin-bottom: 57px;
}
.subscribe {
    width: 492px;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    height: 58px;
    color: #fff;
    font-size: 18px;
    padding-right: 130px;
}
.subscribe__button {
    position: absolute;
    width: 120px;
    height: 50px;
    background-color: #e94e38;
    border-radius: 35px;
    border: 1px solid #c1412e;
    color: #fff;
    text-transform: uppercase;
    right: 5px;
    top: 5px;
}
.subscribe__button:hover {
    background-color: #e66959;
}
.footer__buttom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid #ffffff1a;
    padding-top: 42px;
}
.footer__menu__title {
    margin: 0;
    color: #ffffff;    
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.102);
    display: inline-block;
    margin-bottom: 28px;
}
.footer__menu__list {
    padding: 0;
}
.footer__menu__item {
    list-style: none;
}
.footer__menu__link,
.footer__social-item {
    color: #c0bebc;    
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}
.footer__menu__link:hover {
    color: #e0d9d2; 
}
.footer__social-list {
    margin-bottom: 85px;
}
.footer__social-item {
    font-size: 22px;
}
.facebook:hover {
    color: #4267b2;
}
.twitter:hover {
    color: #1da1f2
}
.google:hover {
    color: #db4437; 
}
.youtube:hover {
    color: #ff0000;
}
.copyright {
    color: #ffffff;    
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
@media screen and (max-width: 980px) {
.navigation__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.navigation__link {
    padding: 0px 15px;
    line-height: 34px;
}
.search__form input {
    width: 400px;
}
.filter__wrapper {    
    -webkit-box-pack: center;    
        -ms-flex-pack: center;    
            justify-content: center;
    margin: 15px 0;
}
.filter__list {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.place__wrap {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.category__list {
    width: 50%;
}
.cards__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.cards__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    max-width: 33%;
}
.card {
    width: 100%;
    margin: 0 10px;
}
.card-review {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66%;
            flex: 0 0 66%;
    max-width: 66%;
}
.card-review .card {
    width: 100%;
}
.icon__wrap:hover .show-more {
    width: 100%;
}
.slide__button::before {
    width: 70px;
    height: 70px;
    bottom: -35px;    
    left: -35px;
    font-size: 39px;
    line-height: 70px;
}
.slide__descriptio {
    width: 100%;
    margin-bottom: 20px;
}
.footer__buttom {
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
}
@media screen and (max-width: 740px) {
.navigation__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.banner .select2-container {
    width: 100% !important;
}
.banner .select2-container:nth-of-type(1) {
    margin-right: 0;
}
.search__form {
    top: 74px;
    right: auto;    
    left: 0;
}
.search__form input {
    width: 290px;
}
.filter__list {
    width: 100%; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;   
}
.place__wrap {
    width: 100%; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;   
    margin-bottom: 15px;  
}
.show-map__btn {
    margin-left: 15px;
}
.category__list {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.cards__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
}
.slide__button {
    margin-left: 13%;
}
.slide__button::before {
    width: 50px;
    height: 50px;
    bottom: -22px;
    left: -22px;
    font-size: 27px;
    line-height: 50px;
}
.form {
    width: 90%;
}
.subscribe {
    width: 100%;
}
.footer__buttom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.footer__menu {
    text-align: center;
}
.footer__menu__title {
    margin-bottom: 0;
}
.footer__menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.footer__menu__item {    
    padding-bottom: 10px;
}
.footer__social-list {
    margin-bottom: 10px;
}
}
@media screen and (max-width: 570px) {
.cards__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
}
}